/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 93%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/
.navbar {
  display: flex;
  padding: 21px 50px;
  align-items: center;
}

.navbar h1 {
  font-size: 25px;
  color: #6169D0;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 10px;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/* amazon section start */
.amazon {
  border: 2px solid #BEBEBE;
}

.amazon .wrapper {
  width: 100%;
  display: flex;
}

.amazon .wrapper .content {
  flex-basis: 69%;
}

.amazon .wrapper .slide {
  flex-basis: 31%;
  position: relative;
  background-color: #6169D0;
}

.amazon .wrapper .heading {
  font-size: 35px;
  color: #6169D0;
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 45px;
  padding-left: 45px;
}

.heading span {
  text-transform: uppercase;
}

.amazon .wrapper h3 {
  font-size: 22px;
  color: #6169D0;
  padding: 6px 0 13px 45px;
}

.wrapper h3 span {
  text-transform: uppercase;
}

.content p {
  font-size: 22px;
  color: #6169D0;
  padding: 13px 0 10px 45px;
}

.content .para {
  color: #898989;
}

.para a {
  color: #3DB38D;
}

.btn button {
  font-size: 17px;
  color: #DEE4E2;
  padding: 19px;
  background-color: #3DB38D;
  border: none;
  margin: 0 9px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn {
  padding: 32px 32px 32px 36px;
  display: flex;
}

.btn1 {
  flex-basis: 30%;
}

.btn2 {
  flex-basis: 70%;
}

.btn button:hover {
  color: #3DB38D;
  background-color: #DEE4E2;
}

.left,
.right {
  text-indent: -9999px;
}

.left::before {
  content: "\3c";
  font-family: "FontAwesome";
  text-indent: 0;
  float: right;
  font-size: 60px;
  color: #fff;
  margin: 18px;
}

.left:hover::before {
  color: #898989;
}

.right:hover::before {
  color: #898989;
}

.right::before {
  content: "\3e";
  font-family: "FontAwesome";
  text-indent: 0;
  float: left;
  font-size: 60px;
  color: #fff;
  margin: 18px;
}

.button {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -6%);
}

.button li button {
  text-indent: -9999px;
  border-radius: 50%;
  background-color: #B1B2B1;
  border: none;
  margin: 0 2px;
}

.button li:nth-child(4) button {
  background-color: #E5E5E4;
}

.slide-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-control {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.para2 {
  font-size: 20px;
  color: #DADCE0;
  padding: 8px 0;
  text-align: center;
}

.slide-list .emp {
  text-transform: capitalize;
  font-size: 20px;
  color: #DADCE0;
  padding: 8px 0;
  text-align: center;
  font-weight: 500;
}

.slide-list li p span {
  font-size: 35px;
  color: #DADCE0;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.icon-list {
  display: flex;
}

.icon-list2 {
  display: flex;
}

.icon {
  text-indent: -9999px;
}

.icon2 {
  text-indent: -9999px;
}

.icon::before {
  content: "\f183";
  font-family: "FontAwesome";
  text-indent: 0;
  float: right;
  font-size: 25px;
  color: #9197D9;
  padding: 15px 4px;
}

.icon2::before {
  content: "\f183";
  font-family: "FontAwesome";
  text-indent: 0;
  float: right;
  font-size: 25px;
  color: #9197D9;
  padding: 15px 4px;
}

.icon:nth-child(1)::before {
  background: linear-gradient(to right, #fff 50%, #9197D9 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.icon2:nth-child(1)::before,
.icon2:nth-child(2)::before,
.icon2:nth-child(3)::before {
  color: #fff;
}

.heading {
  font-size: 35px;
  color: #6169D0;
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 37px;
}

.but {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #DADCE0;
  text-transform: capitalize;
}

.but::before {
  margin-right: 10px;
  content: "";
  width: 90px;
  height: 2px;
  background-color: #9EA4D1;
  display: block;

}

.slide-list li:nth-child(3) {
  position: relative;
}

.but::after {
  content: "";
  width: 90px;
  height: 2px;
  background-color: #9EA4D1;
  display: block;
  margin-left: 10px;
}

/* amazon section end */
/* connect section start */
.connect {
  border: 2px solid #BEBEBE;
  border-top: none;
}

.insider-list {
  display: flex;
  padding: 15px;
  /* flex-wrap: wrap; */
}

.insider-list li {
  flex-basis: 33%;
  padding: 50px;
}

.insider-list li:nth-child(1) figure+p,
.insider-list li:nth-child(2) figure+p,
.insider-list li:nth-child(3) figure+p {
  color: #2a2727;
  font-size: 18px;
}

.insider-list li figure {
  width: 66%;
  margin: 0 auto;
}

.caption {
  font-size: 28px;
  color: #3FB48C;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  padding: 4px;
}

.insider-list li p {
  font-size: 15px;
  color: #717171;
  text-align: center;
  text-transform: capitalize;
  padding: 4px;
}

.rating a {
  text-indent: -9999px;
}

.rating a::before {
  content: "\f005";
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
}

.rating {
  display: flex;
  justify-content: center;
  padding: 7px;
}

.rating a:nth-child(4)::before {
  color: #dfdfdf;
}

/* connect section end */
/* work section start */
.work {
  border: 2px solid #BEBEBE;
  border-top: none;
}

.work-list {
  display: flex;
  padding: 22px;
}

.work-list li a {
  text-indent: -9999px;
  border-radius: 50%;
  background: #6069D0;
  border-radius: 50%;
  margin: 20px auto;
}

.work-list .search::before {
  content: "\f002";
  text-indent: 0;
  float: left;
  font-family: "FontAwesome";
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.work-list .calender::before {
  content: "\f073";
  text-indent: 0;
  float: left;
  font-family: "FontAwesome";
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.work-list .message::before {
  content: "\f0e6";
  text-indent: 0;
  float: right;
  font-family: "FontAwesome";
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.work-list li {
  text-align: center;
  flex-basis: 33%;
}

.work-list li span {
  font-size: 20px;
  color: #656565;
  text-transform: capitalize;
  font-weight: 600;
}

.work-list li p {
  font-size: 20px;
  color: #717171;
  padding: 15px;

}

/* work section end */
/* testimonial section start */
.test{ background-color: #565EBA; }

.test-list .par {
  display: none;
}

.test-list{
  width: 90%;
  margin: 0 auto;
}

.test-list .control {
  display: block;
  line-height: 30px;
  font-size: 20px;
  color: #e3e3eb;
}

.test .heading{ color: #e3e3eb; }

.test-list li {
  padding: 35px;
}

.test-left,
.test-right {
  text-indent: -9999px;
}

.test-left::before {
  content: "\3c";
  font-family: "FontAwesome";
  text-indent: 0;
  float: right;
  font-size: 90px;
  color: #d9dbe3;
  margin: 8px;
}

.test-left:hover::before {
  color: #898989;
}

.test-right:hover::before {
  color: #898989;
}

.test-right::before {
  content: "\3e";
  font-family: "FontAwesome";
  text-indent: 0;
  float: left;
  font-size: 90px;
  color: #d9dbe3;
  margin: 8px;
}

.test-slide {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial{ position: relative; }

.test-btn{
  text-align: center;
  padding-bottom: 25px;
}

.test-btn button{
  border-radius: 50%;
  background-color: #B2B3B2;
  font-size: 17px;
}

.test-btn button:nth-child(4){
  background-color: #fff;
}

.test-btn button:nth-child(1),
.test-btn button:nth-child(2),
.test-btn button:nth-child(3),
.test-btn button:nth-child(4),
.test-btn button:nth-child(5),
.test-btn button:nth-child(6){text-indent: -9999px;}


/* testimonial section end */






/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/







/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}